1. What is Python and example of any real world usecase- Done
2. Python Hello World- done
3. Variables and its properties- done
4. Strings and its properties
5. String concatenation
6. For loops
7. Lists
8. Slicing
9. Looping through lists
10. List methods(Sort, insert, append, delete, remove, pop)
11. Tuples
12. Dictionaries and working with dictionaries
13. User inputs
14. Functions and its usage
15. Conditional statements
16. Comments

In [ ]:
#Hello World
print("Hello world")

Hello world

In [ ]:
#Variables and Data Types
intro = "hello world"
print(intro)

hello world

In [ ]:
#Strings and its methods
intro = "hello world"
#Length
print(len(intro))

11

In [ ]:
#String conversion methods
#Title
print(intro.title())
intro = "helloworld"
print(intro.title())

Hello World
Helloworld

In [ ]:
#String conversion methods
#upper()
intro = "hello world"
print(intro.upper())

HELLO WORLD

In [ ]:
#String conversion methods
#lower()
intro = "HELLO WORLD"
print(intro.lower())
print(intro.title())

hello world
Hello World

In [ ]:
#Accessing elements from the string
user_name = "Alex"
print(user_name[0])

p

In [ ]:
#String concatenation
first_name = "vikas"
last_name = "kumar"
age = 23

print(type(first_name))
print(type(last_name))
print(type(age))


user_name = first_name+" "+last_name
print("user name: ", user_name)
print("age: ", age)
#print(first_name)
print(last_name)
print(user_name)

first_name = "bhanu"
print(first_name)

print(user_name+" and his age is "+str(age)+" years old")

<class 'str'>
<class 'str'>
<class 'int'>
user name:  vikas kumar
age:  23
kumar
vikas kumar
bhanu
vikas kumar and his age is 23 years old

In [ ]:
#Lists
#ex: motorcycles = ['honda', 'yamaha', 'suzuki']
#Accessing, indexing, using individual Values, Finding Length, title(), lower(), upper()

motorcycles = ['honda', 'yamaha', 'suzuki']


print(len(motorcycles))
print(motorcycles[-1])
#Accessing elements
print(motorcycles[0]) #list indexing method
print("\n")
print(motorcycles[0].title())

print(motorcycles[-2].title())

3
suzuki

In [ ]:
details = ['vikash', 'kumar', 23, 'engineer', 10.3]
#Using list individual values
user_name1 = details[0], details[1]
user_name2 = details[0]+" "+details[1] #String concatenation
print(type(user_name1))
print(type(user_name2))


print(user_name1)
print(user_name2)

<class 'tuple'>
<class 'str'>
('vikash', 'kumar')
vikash kumar

In [ ]:
print(type(user_name1))
print("The candidate name is:", user_name2.title())
print(len(user_name2))
print("The candidate name is:", user_name2.upper())

print("The candidate age is:", details[2])
#print(user_name.title()," is working as an "+ details[-2]," in Tata consultancy services and he was selected with a package of",str(details[-1]),"LPA")
print()

<class 'tuple'>
The candidate name is: Vikash Kumar
12
The candidate name is: VIKASH KUMAR
The candidate age is: 23

In [ ]:
#Finding Length
details = ['vikash', 'kumar', 23, 'engineer', 10.3]
length = len(details)
print(length)

5

In [ ]:
#List modification
#insert, append, pop, delete, remove, index errors
motorcycles = ['honda', 'yamaha', 'suzuki']
print("Before adding values to the list:")
print(motorcycles)
#Using append
motorcycles.append("hero")
print("\nafter the list modification the new list will be:")
print(motorcycles)


#using insert
motorcycles.insert(1, "TVS")
print()
print("After inserting value at index 1 position")
print(motorcycles)

Before adding values to the list:
['honda', 'yamaha', 'suzuki']

after the list modification the new list will be:
['honda', 'yamaha', 'suzuki', 'hero']

After inserting value at index 1 position
['honda', 'TVS', 'yamaha', 'suzuki', 'hero']

In [ ]:
#Delete using del
"""
del motorcycles[0]
print(motorcycles)

#remove()
motorcycles.remove('suzuki')
print(motorcycles)
"""
#pop
print(motorcycles)
popped_item = motorcycles.pop()
print("my old motorcycles was "+popped_item.title()+" which I loved the most")

['honda', 'TVS', 'yamaha', 'suzuki']
my old motorcycles was Suzuki which I loved the most

In [ ]:
#List slicing, List comphrensions
my_bikes = ['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
print(my_bikes)
print("There are many bikes which I used earlier before buying this new bike")
print(my_bikes[1:])

['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
There are many bikes which I used earlier before buying this new bike
['TVS', 'yamaha', 'suzuki', 'hero']

In [ ]:
my_bikes = ['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
print(my_bikes)
#List Slicing syntax
#list_name[start:end:step]
print("There are many bikes which I used earlier before buying this new bike")
print(my_bikes[1:5])
print(my_bikes[:5])

['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
There are many bikes which I used earlier before buying this new bike
['TVS', 'suzuki']
['honda', 'TVS', 'yamaha', 'suzuki', 'hero']

In [ ]:
#List slicing
my_bikes = ['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
print(my_bikes)
print(my_bikes[0:5:3]) #start=0, end=5-1(end-1), step = 2

['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
['honda', 'suzuki']

In [ ]:
#Squres
my_list = [2, 3, 4]
print(my_list)
for i in my_list:
  print(i*i, end =" ")

[2, 3, 4]
4 9 16

In [ ]:
my_list = [2, 3, 4]
#Finding squares of elements of the list using list comphrehensions
print([value**2 for value in my_list])

[4, 9, 16]

In [ ]:
#conditional statements
my_list = [2, 3, 4]
n = 2
#if statement
#if else statements
#if else if and else statements
if n in my_list:
  print(True)

True

In [4]:
#Conditional Tests
print("bus"=="BUS")
print("hey python")
print(2+3)

print("bus"=="BUS".lower())

False
hey python
5
True

In [6]:
my_bikes = ['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
#print(my_bikes)

my_new_bike = "RE"

if my_new_bike not in my_bikes:
    print("you haven't owned a RE bike so far")
else:
  print("Oh ok it is there inside the list")

you haven't owned a RE bike so far

In [10]:
my_bikes = ['honda', 'TVS', 'yamaha', 'suzuki', 'hero']
#print(my_bikes)

my_new_bike = "RE"

#checking the conditions
if my_new_bike in my_bikes:
  print("item is matching")

else:
  print("no item is matching")

no item is matching

Practice if else if and else on your own

In [14]:
#Organising list
my_bikes = ['honda', 'tvs', 'yamaha', 'suzuki', 'hero']
print("Before sorting the given list is look like below:")
print(my_bikes)
my_bikes.sort()
print("after sorting")
print(my_bikes)


""" Read sorted() on your own"""

Before sorting the given list is look like below:
['honda', 'tvs', 'yamaha', 'suzuki', 'hero']
after sorting
['hero', 'honda', 'suzuki', 'tvs', 'yamaha']

In [15]:
#List reversing
print(my_bikes[::-1])

['yamaha', 'tvs', 'suzuki', 'honda', 'hero']

In [33]:
#Starting with empty dictionaries
bikes = []
#The same below operation you can do using user inputs
first_bike = "hero"
second_bike = "honda"
name =  first_bike, second_bike
bikes.append(first_bike)
bikes.append(second_bike)
print(bikes)

['hero', 'honda']

In [19]:
print(bikes)

['hero', 'honda']

In [25]:
#Looping through lists
my_list = [1, 2, 3, 4]
length = len(my_list)
#Syntax of range: range(start, step, end-1(end value))
for i in range(length):
  #print(i)
  print(my_list[i]**2, end= " ")

1 4 9 16

In [26]:
my_list = [1, 2, 3, 4]
for i in my_list:
  print(i**2, end =" ")

1 4 9 16

In [29]:
#Dealing with indentation error
my_list = [1, 2, 3, 4]
for i in my_list:
  print(i**2, end =" ")
print()
print("The above values are the squares of the given list")

1 4 9 16
The above values are the squares of the given list

In [31]:
#Copying a list
my_list = [1, 2, 3, 4]
print(my_list)
my_new_list = my_list[:]
print(my_new_list)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [38]:
#Tuples- Creating, accessing, looping
dimensions = (200, 50)
print(dimensions[0])
for dimension in dimensions:
  print(dimension*dimension)

200
40000
2500

In [40]:
#User inputs
list1  = []
user_input = input("enter your input: ")
list1.append(user_input)
print(list1)

enter your input: 1000000
['1000000']

In [41]:
#Dictionaries- creating, accessing, adding new key value pairs, staring with empty dict, #looping(keys, values and key-value pair)

#Creating dict
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

print(favorite_languages)

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python'}

In [44]:
#Accessing
print("sarah favorite language is ", favorite_languages['sarah'])

sarah favorite language is  c

In [46]:
#adding new key value pair to the dictionary
favorite_languages['bhanu'] = "Machine Learning"
print(favorite_languages)

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', 'bhanu': 'Machine Learning'}

In [47]:
#staring with empty dict
favorite_languages = {}
favorite_languages['bhanu'] = "Machine Learning"
print(favorite_languages)

{'bhanu': 'Machine Learning'}

In [67]:
#Looping through the dictionaries
favorite_languages = {
    'jen': 'Python',
    'sarah': 'c',
    'edward': 'ruby',
    'jen': 'R',
    }

for key, values in favorite_languages.items():
  print(key, values)

jen R
sarah c
edward ruby

In [50]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }
#Accesing only dictionary keys
for key in favorite_languages.keys():
  print(key)

jen
sarah
edward
phil

In [51]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }
#accessing only dictionary values
for value in favorite_languages.values():
  print(value)

python
c
ruby
python

In [64]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

print(favorite_languages)
print()
#Accesing Dict key values using for loops
for key, value in favorite_languages.items():
  print(key.title()+"favorite language is "+value.title())

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python'}

Jenfavorite language is Python
Sarahfavorite language is C
Edwardfavorite language is Ruby
Philfavorite language is Python

In [86]:
users = {
'aeinstein': {
'first': 'albert',
'last': 'einstein',
'location': 'princeton',
},
'mcurie': {
'first': 'marie',
'last': 'curie',
'location': 'paris',
},
}

for name, info in users.items():
    full_name = info['first']+" "+info["last"]
    location = info['location']

    print("User name: ", name.title())
    print("\tname:"+ full_name.title())
    print("\tlocation: "+location.title())

User name:  Aeinstein
	name:Albert Einstein
	location: Princeton
User name:  Mcurie
	name:Marie Curie
	location: Paris